<div layout="row" style="align-items: center" flex>
    <mat-icon class="mat-icon-logo" svgIcon="logo"></mat-icon>
    <span>{{'header.title' | translate}}</span>

    <span flex></span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>language</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <span class="flag-icon flag-icon-gb" *ngIf = "isCurrentLang('en')" (click)="toggleLanguage('en')" style="margin-bottom:10px"></span>
        <span class="flag-icon flag-icon-es" *ngIf = "isCurrentLang('es')" (click)="toggleLanguage('es')"></span>
    </mat-menu>

    <button mat-icon-button *ngIf="auth.isLogged()" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</div>