<div class="login-container">
  <mat-toolbar class="app-header-container" color="primary">
    <app-header [sideNavOpened]="true"></app-header>
  </mat-toolbar>
  <div>
    <mat-card class="login-card">
      <mat-card-title>{{ 'login.title' | transloco }}</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="login(loginForm.form)" #loginForm="ngForm">
          <mat-form-field>
            <input
              matInput
              type="text"
              [placeholder]="'login.username' | transloco"
              ngModel
              name="username"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="password"
              [placeholder]="'login.password' | transloco"
              ngModel
              name="password"
              required
            />
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.form.valid"
          >
            {{ 'buttons.submit' | transloco }}
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-toolbar class="public-footer">
    <span>devonfw Application</span>
    <span>devonfw</span>
  </mat-toolbar>
</div>
