<div layout="row" class="page-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{
        'sampledatamanagement.SampleData.title' | transloco
      }}</mat-card-title>
      <mat-card-subtitle>{{
        'sampledatamanagement.SampleData.subtitle' | transloco
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-button
        class="data-action-button"
        [matTooltip]="'buttons.addItem' | transloco"
        (click)="openDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-button
        class="data-action-button"
        [disabled]="!selectedRow"
        [matTooltip]="'buttons.editItem' | transloco"
        (click)="openEditDialog()"
      >
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button
        mat-button
        class="data-action-button"
        [disabled]="!selectedRow"
        [matTooltip]="'buttons.deleteItem' | transloco"
        (click)="openConfirm()"
      >
        <mat-icon>delete</mat-icon>
      </button>

      <form (ngSubmit)="filter()" #filterForm="ngForm">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Filters</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="filter-form-fields">
            <mat-form-field color="accent">
              <input
                matInput
                placeholder="Name"
                [(ngModel)]="searchTerms.name"
                name="name"
              />
            </mat-form-field>
            <mat-form-field color="accent">
              <input
                matInput
                placeholder="Surname"
                [(ngModel)]="searchTerms.surname"
                name="surname"
              />
            </mat-form-field>
            <mat-form-field color="accent">
              <input
                matInput
                placeholder="Age"
                [(ngModel)]="searchTerms.age"
                name="age"
              />
            </mat-form-field>
            <mat-form-field color="accent">
              <input
                matInput
                placeholder="Email"
                [(ngModel)]="searchTerms.email"
                name="email"
              />
            </mat-form-field>
          </div>
          <div class="align-right">
            <button
              mat-button
              type="button"
              (click)="searchReset(filterForm)"
              class="text-upper"
            >
              Clear filters
            </button>
            <button
              mat-raised-button
              type="submit"
              color="accent"
              class="text-upper"
            >
              Apply filters
            </button>
          </div>
        </mat-expansion-panel>
      </form>
      <mat-divider></mat-divider>
      <div class="table-container" style="width:100%; overflow:auto;">
        <table
          mat-table
          [dataSource]="data"
          matSort
          (matSortChange)="sort($event)"
          style="width:100%"
        >
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef style="width:42px;"></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="selectEvent(row)"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width:197px;"
            >
              {{ columns[0].label | transloco }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Surname Column -->
          <ng-container matColumnDef="surname">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width:197px;"
            >
              {{ columns[1].label | transloco }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
          </ng-container>

          <!-- Age Column -->
          <ng-container matColumnDef="age">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width:197px;"
            >
              {{ columns[2].label | transloco }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.age }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width:197px;"
            >
              {{ columns[3].label | transloco }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div
        class="mat-padding"
        *ngIf="data.length === 0"
        layout="row"
        layout-align="center center"
      >
        <h3>No results to display.</h3>
      </div>
      <mat-paginator
        #pagingBar
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizes"
        [showFirstLastButtons]="true"
        (page)="page($event)"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
