<div class="login-container">
  <mat-toolbar class="public-header-container" color="primary">
    <public-header [sideNavOpened]="true"></public-header>
  </mat-toolbar>
  <div>
    <mat-card class="login-card">
      <mat-card-title>{{ 'login.title' | translate }}</mat-card-title>
      <mat-card-content>
        <form
          (ngSubmit)="login(loginForm.form)"
          #loginForm="ngForm"
        >
          <mat-form-field>
            <input
              matInput
              type="text"
              [placeholder]="'login.username' | translate"
              ngModel
              name="username"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="password"
              [placeholder]="'login.password' | translate"
              ngModel
              name="password"
              required
            />
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.form.valid"
          >
            {{ 'buttons.submit' | translate }}
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-toolbar class="public-footer">
    <span>DevonFW Application</span>
    <span>Devonfw</span>
  </mat-toolbar>
</div>
