<div layout="row" class="pad-sm" flex>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{'example' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'example description' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <div class="pad">
      <img mat-card-image src="../../../assets/img/Capgemini-logo-2col.jpg" alt="Capgemini">
    </div>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis finibus luctus. Proin pretium tellus ac metus posuere, vitae pretium metus elementum. Aenean sed velit id velit ultricies tempor. In egestas vestibulum justo eget malesuada. Quisque nec turpis ut nisl suscipit vestibulum. Nullam sit amet ultricies justo, non aliquet elit. Morbi malesuada consequat orci vitae aliquet. Praesent magna urna, pulvinar a rhoncus consequat, pharetra tristique turpis. Nullam mattis ac justo vel porttitor. Vestibulum maximus pellentesque est.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{'LIKE' | translate}}</button>
      <button mat-button>{{'SHARE' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>
