<h1 mat-dialog-title>{{ title }}</h1>
<form (ngSubmit)="dialogRef.close(items)" #dialogForm="ngForm">
  <mat-form-field>
    <input
      matInput
      type="string"
      name="name"
      [placeholder]="'sampledatamanagement.SampleData.columns.name' | transloco"
      [(ngModel)]="items.name"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="string"
      name="surname"
      [placeholder]="
        'sampledatamanagement.SampleData.columns.surname' | transloco
      "
      [(ngModel)]="items.surname"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="number"
      name="age"
      [placeholder]="'sampledatamanagement.SampleData.columns.age' | transloco"
      [(ngModel)]="items.age"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="string"
      name="email"
      [placeholder]="
        'sampledatamanagement.SampleData.columns.email' | transloco
      "
      [(ngModel)]="items.email"
      required
    />
  </mat-form-field>

  <mat-dialog-actions>
    <button type="button" mat-button mat-dialog-close>
      {{ 'buttons.cancel' | transloco }}
    </button>
    <button type="submit" mat-button [disabled]="!dialogForm.form.valid">
      {{ 'buttons.save' | transloco }}
    </button>
  </mat-dialog-actions>
</form>
