@import '~@angular/material/theming';

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-green);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent:  mat-palette($mat-blue-grey);
  $dark-warn:    mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
