@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '@angular/material/theming';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat.define-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat.define-typography-level(32px, 48px, 700),
);

@include mat.core(
  $typography
); // $typography is an **optional** argument for the mat-core

$primary: mat.define-palette(mat.$light-blue-palette, 600, 100, 900);
$accent: mat.define-palette(mat.$orange-palette, 800, 100, 900);
$warn: mat.define-palette(mat.$red-palette, 600, 100, 900);
$theme: mat.define-light-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);
