<td-layout>
  <div class="home-title" flex>
    <div layout="column" class="property-text-center">
      <h1 class= "title-color title">MY THAI STAR</h1>
      <span class= "title-color pull-top-xl subtitle">More than just delicious food</span>
    </div>
  </div>
  <td-layout-manage-list opened="true" mode="side" sidenavWidth="350px">

    <mat-nav-list td-sidenav-content>
      <a id="home" mat-list-item [routerLink]="['./initialPage']">
        <mat-icon mat-list-avatar>home</mat-icon>
		<h3 mat-line> {{'home' | translate}} </h3>
      </a>
    </mat-nav-list>

    <router-outlet></router-outlet>

  </td-layout-manage-list>
</td-layout>